{% extends "/abstracts/_base.jinja" %}

{% block head %}
<link href="{{ url_for('static', filename='css/app/styles.css') }}?v={{ cachebuster }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <h1>404</h1>
    <h2>v1.0.{{ version }}</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-4 mb-4" id="main-card">
      <p>Page not found</p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
