<div id="map-data">Totaal <strong id="map-data-totaal"></strong> voertuig(en) gevonden.
  <label><input type="checkbox" id="real-time-update" checked> Realtime update</label>.
  <span id="just-added" class="hidden">Bijgekomen na update: <strong id="just-added-amount">0</strong></span>
</div>
<div id="the-map"></div>
