<div class="row">
    <div class="col-sm-6 col-lg-4 mb-4" id="my-surveillances">
        <h2>Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-4 mb-4" id="my-surveillances-main">
        WIP!
    </div>
</div>
