<div class="row">
    <div class="col-sm-6 col-lg-4 mb-4">
        <h2>Dashboard</h2>
        <p>Ingelogd als <strong id="username"></strong>. Het JWT token is nog max. <strong id="jwt-exp-in"></strong> minuten geldig.</p>
        <input type="button" id="logout-button" value="Uitloggen" class="btn btn-primary">
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-lg-2 mb-4">
        <form>
            <fieldset>
                <legend>Filters</legend>
                <div class="form-group">
                    <label for="plate">Kenteken</label>
                    <input name="plate" maxlength="12" class="form-control" id="plate" placeholder="Kenteken">
                </div>
                <br>
                <div class="form-group">
                    <label for="startDate">Datum ná</label>
                    <input type="datetime-local" name="startDate" class="form-control" id="startDate" placeholder="Zoek vanaf">
                </div>
                <br>
                <div class="form-group">
                    <label for="endDate">Datum vóór</label>
                    <input type="datetime-local" name="endDate" class="form-control" id="endDate" placeholder="Zoek tot">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Filter</button>
                <div class="hidden spinner spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-10 col-lg-10 mb-4" id="map-wrapper"></div>
</div>
