<div class="row">
    <div class="col-sm-6 col-lg-4 mb-4">
        <form>
            <fieldset>
                <legend>Inlogformulier</legend>
                <div class="form-group">
                    <label for="username">Gebruikersnaam</label>
                    <input type="username" class="form-control" id="username" placeholder="Gebruikersnaam">
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Wachtwoord</label>
                    <input type="password" class="form-control" id="password" placeholder="Wachtwoord">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Inloggen</button>
            </fieldset>
        </form>
    </div>
</div>
