<div id="map-data">Totaal <strong id="map-data-totaal"></strong> voertuigen gevonen.
  <label><input type="checkbox" id="real-time-update" checked> Realtime update</label>
</div>
<div id="the-map"></div>
